<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>


<body>
    <h1>{{ heading }}</h1>
    <p></p>
    <a href="/addtweet/">|Post Tweet|</a>
    <p>-----------------------------------------------------------------------------------</p>

    <ul>

        {% for item in tweets %}
            <li>{{ item.title }}</li>
            <li>{{ item.posted_by }}</li>
            <li>{{ item.dt_posted }}</li>
            <li>{{ item.body }}</li>
            <p>----------------------------------------------------------------------------</p>
        {% endfor %}


    </ul>

</body>