<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>


<body>
    <h1>{{ heading }}</h1>
    <p></p>
    <a href="/addtweet/">|Post Tweet|</a>
    <a href="/logout/">|Logout|</a>
    <a href="user/{{ user.id }}/">|Profile|</a>
    <a href="notification/{{ user.id }}/">|Notifications={{ notifications.count }}|</a>


    <p>-----------------------------------------------------------------------------------</p>

    <ul>

        {% for item in tweets %}
            <p><a href="/tweet/{{ item.id }}/">{{ item.title }}</a></p>
            <p><a href="/user/{{ item.posted_by.id }}/">{{ item.posted_by }}</a></p>
            <p>{{ item.dt_posted }}</p>
            <p>{{ item.body }}</p>
            <p>----------------------------------------------------------------------------</p>
        {% endfor %}


    </ul>

</body>