<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>


<body>
    <h1>{{ heading }}</h1>
    <p></p>
    <a href="/addtweet/">|Post Tweet|</a>
    <a href="/logout/">|Logout|</a>
    <a href="/user/{{ user.id }}/">|Profile|</a>
    <a href="/user/{{ user.id }}/">|Profile|</a>


    <p>-----------------------------------------------------------------------------------</p>

    <ul>

        {% for item in notifications %}
            <!-- <p><a href="/tweet/{{ item.id }}/">{{ item.title }}</a></p>
            <p><a href="/user/{{ item.posted_by.id }}/">{{ item.posted_by }}</a></p> -->
            <p>Recipient: {{ item.recipient }}</p>
            <p>Tweet: {{ item.tweet }}</p>
            <p>----------------------------------------------------------------------------</p>
        {% endfor %}

        
        
    </ul>
    
</body>
{{ delete }}