<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
   
    <p></p>
    <a href="/">|Home|</a> 
    <a href="/addtweet/">|Post Tweet|</a>
    <a href="/logout/">|Logout|</a>
    <a href="notification/{{ user.id }}/">|Notifications{{ notifications.count }}|</a>


    <p>----------------------------------------------------------------------------</p>

            <h4>Tweet#: {{ tweet.id }}</h4>
            <p>Title: {{ tweet.title }}</p>
            <p>Time Posted: {{ tweet.dt_posted }}</p>
            <p>Description: {{ tweet.body }}</p>
            <p>Posted by: <a href="/user/{{ user.id }}/">{{ tweet.posted_by }}</a></p>
            <a href="/tweet/edit/{{ tweet.id }}/">|Change Tweet|</a>

            <p>----------------------------------------------------------------------------</p>   
        
</body>